In [4]:
print( "Ans1. For loop is used when we know the number of iterations\n") 
#Example of for loop

for i in range(1,10):
    print(i)
    
# here we know that we wwant to iterate a loop 10 times 

print("While loop is used when we dont know the number of iterations but we know the stoping conditions\n")

while True:
    name=input("please enter your name")
    if name.isalpha():
        print(name)
        break
    else:
        print("please enter valid name")
        continue
#here we dont know how many times we have to iterate but we know the stoping condition.

Ans1. For loop is used when we know the number of iterations

1
2
3
4
5
6
7
8
9
While loop is used when we dont know the number of iterations but we know the stoping conditions

please enter your name 1233arun

please enter valid name

please enter your name Arun12

please enter valid name

please enter your name Arun

Arun

In [5]:
# Ans2
# Program to pring Multiple of first 10 Natual number
# 1*2*3*4*5*6*7*8*9*10
i=1
for j in range (1,11):
    i=i*j
print(i)

# program to print Add of first 10 Natural Nunber
# 0+1+2+3+4+5+6+7+8+9+10+11
i=0
for j in range (0,11):
     i=i+j
print(i)

3628800
55

In [5]:
# Ans2
# program to print Add of first 10 Natural Nunber
# 0+1+2+3+4+5+6+7+8+9+10+11
i=0
j=1
while j<=10:
    i=i+j
    j=j+1
print(i)

# Program to pring Multiple of first 10 Natual number
# 1*2*3*4*5*6*7*8*9*10
i=1
j=1
while j <=10:
    i=i*j
    j=j+1
print(i)

55
3628800

In [1]:
# Ans3
n=int(input("please enter number of units consumed in a month"))
if n<=300:
    if n<=100:
        n=n*4.5
        print(n)
    elif n>100 or n<=200:
        n=(100*4.5)+(n-100)*6
        print(n)
    else:
        n=(100*4.5)+(100*6)+(n-200)*10
        print(n)
else: 
    n>300
    n=(100*4.5)+(100*6)+(100*10)+(n-300)*20
    print(n)

please enter number of units consumed in a month 310

2250.0

In [47]:
# Ans4 
print("LIST OF CUBE FROM 1-100 \n")
l1=list(range(1,101))
l2=[]
l3=[]
for i in l1:
    l2.append(i*i*i)
print(l2, "\n")
print("lIST OF CUBE THAT ARE DIVISBLE BY EITHER 4 OR 5 \n")
for j in l2:
    if j%5==0 or j%4==0:
        l3.append(j)
print(l3)

LIST OF CUBE FROM 1-100

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

lIST OF CUBE THAT ARE DIVISBLE BY EITHER 4 OR 5

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [ ]:
# Ans4
print("LIST OF CUBE FROM 1-100 \n")
l1=[]
l2=[]
i=1
while i<=100:
    l1.append(i*i*i)
    i=i+1
print(l1)

print("lIST OF CUBE THAT ARE DIVISBLE BY EITHER 4 OR 5 \n")


j=1
while j <=100:
    if j%5==0 or j%4==0:
        l2.append((j*j*j)/5)
        j=j+1
print(l2)

LIST OF CUBE FROM 1-100

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
lIST OF CUBE THAT ARE DIVISBLE BY EITHER 4 OR 5

In [1]:
# Ans5
string=("i want to become a data Scientist")
count=0
vowels=["a","e","i","o","u"]
for i in range(len(string)):
    if string[i] in vowels:
        count=count+1
print("Total number of vowel in given string is:",count)

Total number of vowel in given string is: 12