In [86]:
# Ans1
list1=[1,2,3,4,[44,55,66,True], False, (34,56,78,89,34),{1,2,3,2,1},{1:34,"key2":[55,67,78,89],4:(45,22,61,34)},[56,'data science'],'Machine Learning']

In [87]:
def flat_list(list1):
    flatlist=[]
    for i in list1:
        if type(i) is tuple or type(i) is list or type(i) is set:
            for j in i:
                if type(j) is int:
                    flatlist.append(j)
        elif type(i) is dict:
                for key,value in i.items():
                    if type(key) is int:
                        flatlist.append(key)
                    if type(value) is tuple or type (value) is list:
                        for k in value:
                            if type(k) is int:
                                flatlist.append(k)
                    elif type(value) is int:
                        flatlist.append(value)
        elif type(i) is int:
            flatlist.append(i)
    return flatlist

In [88]:
list2=flat_list(list1)

In [89]:
list2

[1,
 2,
 3,
 4,
 44,
 55,
 66,
 34,
 56,
 78,
 89,
 34,
 1,
 2,
 3,
 1,
 34,
 55,
 67,
 78,
 89,
 4,
 45,
 22,
 61,
 34,
 56]

In [90]:
def multiply_list_numbers(list2):
    
    product=1
    for i in list2:
        product *= i
    return product

In [91]:
print(multiply_list_numbers(list2))

4134711838987085478833841242112000

In [92]:
product=1
for i in list2:
    product *= i
    print(product)

1
2
6
24
1056
58080
3833280
130331520
7298565120
569288079360
50666639063040
1722665728143360
1722665728143360
3445331456286720
10335994368860160
10335994368860160
351423808541245440
19328309469768499200
1294996734474489446400
101009745289010176819200
8989867330721905736908800
35959469322887622947635200
1618176119529943032643584000
35599874629658746718158848000
2171592352409183549807689728000
73834139981912240693461450752000
4134711838987085478833841242112000

In [174]:
# Ans2
sentence = "I want to become a Data Scientist." 
dict={"a":"z","b":"y","c":"x",' ':"$"}
sentence = sentence.lower()

for i in dict:
    sentence=sentence.replace(i,dict[i])

In [175]:
sentence

'i$wznt$to$yexome$z$dztz$sxientist.'