In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Ans1
import pandas as pd
L=[4,8,15,16,23,42]
List=pd.Series(L)
print(List)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
# Ans2
Variable = ["Arunseh", 23.56, 30, "Pwskills", True, False, 86, 60.00, "Dara Sci", 'a']
series= pd.Series(Variable)
print(series)

0     Arunseh
1       23.56
2          30
3    Pwskills
4        True
5       False
6          86
7        60.0
8    Dara Sci
9           a
dtype: object

In [6]:
# Ans3
data = {'Name': ['Alice', 'Bob', 'Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [11]:
# Ans4
print("Data Frame:  Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns\n")
print("Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data")

Data Frame:  Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns

Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data

In [13]:
# Ans5
print('''
Below are various operations used to manipulate the dataframe:

First, import the library which is used in data manipulation i.e. pandas then assign and read the dataframe:
We can read the dataframe by using head() function also which is having an argument (n) i.e. number of rows to be displayed.

Counting the rows and columns in DataFrame using shape(). It returns the no. of rows and columns enclosed in a tuple.

Summary of Statistics of DataFrame using describe() method

Dropping the missing values in DataFrame, it can be done using the dropna() method, it removes all the NaN values in the dataframe.''')

Below are various operations used to manipulate the dataframe:

First, import the library which is used in data manipulation i.e. pandas then assign and read the dataframe:
We can read the dataframe by using head() function also which is having an argument (n) i.e. number of rows to be displayed.

Counting the rows and columns in DataFrame using shape(). It returns the no. of rows and columns enclosed in a tuple.

Summary of Statistics of DataFrame using describe() method

Dropping the missing values in DataFrame, it can be done using the dropna() method, it removes all the NaN values in the dataframe.

In [14]:
# Ans6
print("Series, data frame & panel all are mutable data types")

Series, data frame & panel all are mutable data types

In [15]:
# Ans7
import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000